.table {
    margin-top: 20px;
    overflow: scroll;
    height: 400px;
    color: rgb(21, 2, 27);
  }
  
  .table tr {
    display: flex;
    justify-content: space-between;
  }
  
  .table td {
    padding: 0.5rem;
  }
  .table tr:nth-of-type(odd) {
    background-color: #eefcd4;
  }
  .table tr:nth-of-type(even) {
    background-color: #e2f7c2;
  }